<div class="container mb-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card panel-div">
        <h1 class="text-center form-header-style pt-2 pb-3">
          Edit Product
        </h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
