<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <span class="goog">O-Sale</span> online market place!</h1>
      <p class="lead">Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-2">
      <div class="row">
        <div class="card-deck">
          <%
          products = [
          {
            name: 'Name 1',
            price: '$99.99',
            description: 'Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
          },
          {
            name: 'Name 2',
            price: '$57.99',
            description: 'Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
          },
          {
            name: 'Name 3',
            price: '$39.99',
            description: 'Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
          }
        ]
      %>

          <% products.each do |product| %>
          <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
            <div class="card">

              <img class="card-img-top img-fluid" src="http://placehold.it/140x100" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <span class="badge badge-pill badge-purple float-right"><%= product[:price] %></span>
                  <a href="detail-page.html"><%= product[:name] %></a>
                </h5>
                <p class="card-text">
                    <%= product[:description] %>
                </p>
              </div>
            </div>
          </div>
          <% end %>

         

        </div>
      </div>
    </div>
  </div> <!-- row -->
  </div> <!-- container -->
